okularpartrc
okularrc
BraveSoftware
bpytop
joplin-desktop
arcolinux-betteralacritty                   
gconf          
pcmanfm
goa-1.0        
arcolinux-betterlockscreen  
google-chrome  
polybar
arcolinux-tweak-tool        
gtk-2.0        
pulse
arcolinux-welcome-app       
gtk-3.0        
QtProject.conf
arcologout                  
htop           
ristretto
arco-slstatus               
komparerc      
rofi
autostart                   
libfm          
session
libreoffice    
spotify
chromium                    
mimeapps.list  
sublime-text
conky                       
mpv            
Thunar
dconf                       
nano           
Trolltech.conf
epdfview                    
neofetch       
user-dirs.dirs
evolution                   
nitrogen       
user-dirs.locale
fontconfig                  
nomacs         
volumeicon
font-manager                
wireshark
FreeTube                    
pamac          
xfce4
galculator                  
paru           
yad.conf
